{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Order</h2>  
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" /><br />
      <label> Food </label><input type="text" name="food" /><br />
      <label> Adress </label><input type="text" name="adress" /><br />
      <label> Price </label><input type="text" name="price" /><br />
      <input type="submit" value="New Order" />
    </form>
  {{ template "Footer" }}
{{ end }}